# Python
__pycache__/
*.py[cod]
*.so
.Python

# Environments
.venv/
venv/
env/
.conda/
.mamba/

# Microsoft Excel

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Microsoft Power Point
.pptx

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode
